# Object file
*.o
*.lexch

# Ada Library Information
*.ali
*.a
*ada_target_properties
# Adainclude files
*/adalib/*


#stderr
*.stderr
*.stdout

#obj
**/obj-static/*
***/objs/*


#links created by scripts
lib
arch
marte_28mar2023/rts-marteuc_stm32f
